.header {
  color: #51585c;
  line-height: 40px;
  background-color: #f6f6f6;
  margin-left: -10px;
  margin-right: -10px;
  text-indent: 10px;
  margin-top: -10px;
  border-radius: 3px 3px 0 0;
}
.friendship-community {
  margin: 4px 0;
  list-style: none;
  li {
    margin-bottom: 10px;
  }
  img {
    width: 150px;
    height: auto;
  }
}
