#back-to-top {
  width: 24px;
  color: gray;
  font-size: 14px;
  padding: 12px 0 12px 5px;
  position: fixed;
  cursor: pointer;
  text-align: center;
  z-index: 20;
  right: 0;
  top: 64%;
  background-color: #fff;
  border-radius: 12px 0 0 12px;
}
