app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
}
mat-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.app-content {
  padding-top: 60px;
  overflow-x: hidden;
  overflow-y: auto;
  & > .container {
    padding: 30px 5%;
  }
}
