.comment-panel {
  margin-top: 30px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 13px;
  .header {
    line-height: 30px;
    background-color: #f5f5f5;
    color: #444;
    text-indent: 10px;
  }
}
